

<app-login></app-login>





<!-- <div class="containerr">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" class="collapsible">
          <span class="icon"><i class="fas fa-user-md"></i></span>
          <span class="title">Dentists</span>
        </a>
        <div class="content">
          <a href="#" style="padding: 10px 0px; justify-content: center;">
            - All Dentists
         </a>
         <a href="#" style="padding: 10px 0px; justify-content: center;">
           - Add Dentist
        </a>    
        </div>
      </li>

      <li>
        <a href="#" class="collapsible">
          <span class="icon"><i class="fas fa-layer-group"></i></span>
          <span class="title">Branches</span>
        </a>
        <div class="content">    
          <a href="#" style="padding: 10px 0px; justify-content: center;">
             - All Branches
          </a>
          <a href="#" style="padding: 10px 0px; justify-content: center;">
            - Add Branch
         </a>         
      </div>
      </li>
      <li>
        <a href="#" class="collapsible">
          <span class="icon"><i class="fas fa-tooth"></i></span>
          <span class="title">Treatments</span>
        </a>
        <div class="content">    
          <a href="#" style="padding: 10px 0px; justify-content: center;">
             - All Treatments
          </a>
          <a href="#" style="padding: 10px 0px; justify-content: center;">
            - Add Treatment
         </a>         
      </div>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-calendar-alt"></i></span>
          <span class="title">Appointments</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-users"></i></span>
          <span class="title">Clients</span>
        </a>
      </li>
      <li>
        <a href="#" class="collapsible">
          <span class="icon"><i class="fas fa-wallet"></i></span>
          <span class="title">Payments</span>
        </a>
        <div class="content">    
          <a href="#" style="padding: 10px 0px; justify-content: center;">
             - All Payments
          </a>
          <a href="#" style="padding: 10px 0px; justify-content: center;">
            - Add Payment
         </a>         
      </div>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-info-circle"></i></span>
          <span class="title">Notifications</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-star"></i></span>
          <span class="title">Reviews</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-chart-bar"></i></span>
          <span class="title">Reports</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main">
    <div class="topbar" >
      <div class="toggle" (click)="onClick($event.target)"></div>
    </div>
    <div class="card-box">
        <div class="card-content">
          <div>
            <div class="numbers">5</div>
            <div class="card-name">Dentists</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-user-md"></i>
          </div>
        </div>
        <div class="card-content">
          <div>
            <div class="numbers">80</div>
            <div class="card-name">Clients</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-users"></i>
          </div>
        </div>
        <div class="card-content">
          <div>
            <div class="numbers">208</div>
            <div class="card-name">Appointments</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-calendar-alt"></i>
          </div>
        </div>
        <div class="card-content">
          <div>
            <div class="numbers">$6,042</div>
            <div class="card-name">Earnings</div>
          </div>
          <div class="icon-box">
            <i class="fas fa-dollar-sign"></i>
          </div>
        </div>
    </div>

    <div class="details">
      <div class="recent-appointments">
        <div class="card-heading">
          <h2>Recent appointments</h2>
        </div>
        <table>
          <thead>
            <tr>
              <td>Appointment date</td>
              <td>Treatment</td>
              <td>Dentist</td>
              <td>Client</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>doc. dr. Eldar Burko</td>
              <td>Klijent Klijent</td>
            </tr>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>doc. dr. Alma Sijamija</td>
              <td>Klijent Klijent</td>
            </tr>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>Larisa Burko</td>
              <td>Klijent Klijent</td>
            </tr>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>Samira Burko</td>
              <td>Klijent Klijent</td>
            </tr>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>Amar Tutkur</td>
              <td>Klijent Klijent</td>
            </tr>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>Namira Tutkur</td>
              <td>Klijent Klijent</td>
            </tr>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>Besko Sadagic</td>
              <td>Klijent Klijent</td>
            </tr>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>Dženana Prezime</td>
              <td>Klijent Klijent</td>
            </tr>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>Zubar Dentist</td>
              <td>Klijent Klijent</td>
            </tr>
            <tr>
              <td>7/29/2021 09:00 AM - 7/29/2021 10:00 AM</td>
              <td>Vađenje zuba</td>
              <td>Stomatolog Zubar</td>
              <td>
                Eldar Burko
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->
